
@model AspNetCore.Entitys.PublishHouse

<div class="row orderForm">
    <form asp-controller="Publish" asp-action="Create" method="post" class="form-horizontal" role="form" name="formSave" id="formSave">
        <h3 class="col-md-offset-2">新增出版社</h3>

        @Html.Partial("_Form", Model);
    </form>
</div>


